body{margin-top:0;margin-left:0;margin-right:0;}
body {background: linear-gradient(to bottom, #fff 0%,#ccc 100%);font-size:15px;}
.container{width:100%;}
a{cursor:pointer;}
h1{font-size:20px;}
.success-message{color:#1a2f4d;font-size:20px;}

.text{background-color:#fff;padding:15px;border-radius:15px;box-shadow:1px 1px 5px #333;margin-right:10px;margin-bottom:20px;}
.loading { position:fixed; left:0; top:0; width:100%; height:100%;background-color:transparent;z-index:2;background-color:#f4f4f4;
opacity:0.7;}
.loading .complete-loader{margin-top: 15%;margin-left: 45%;}
.loading img{margin-left: 100px;}
.logo-loader{background-image:url('../img/sprite.png');background-position:0px -1110px;height: 90px;}

/*HEADER*/
.header{background-color:#fff;box-shadow: 1px 5px 5px #ddd;position:relative;right:0;z-index: 1;}
.header .row:first-child{margin-top:35px;}

/*Logo*/
.logo{background-image:url('../img/sprite.png');background-position: 0px 0px;height: 95px;margin-top: 10px;}

/*Call today*/
.tel .call-today,.facebook-like{color:#adbcd1;font-size:18px;}
.tel .tel-number{color:#1a2f4d;font-size:20px;display:inline-block;}
.tel{text-align:right;float:right;margin-bottom:10px;}

/*Menu*/
.active a{color:#adbcd1;}
ul li{text-decoration:none;display:inline-block;}
li a{color:#1a2f4d;font-size:16px;margin-right:24px;}
li:last-child a{margin-right:0;}
li a:hover{text-decoration:none;}
.menu{margin: 5px 0 0px;}
ul{padding-left:0;}

/*HOME*/
/*Banner*/
.banner{background-image:url('../img/sprite.png');background-position: 0px -757px;height:240px;display:none;}

/*Areas*/
.practice-area{color:#222;margin-bottom:0;}
.area-examples{color:#adbcd1;font-size:16px;}
.areas{margin-bottom:10px;cursor:pointer;padding:5px 0px 10px;}
.area-click{cursor:pointer;padding:5px 30px 0px;}
.areas:last-child{background-image:none;}
.practice-area-preview{color:#444;padding:10px 0;}

.audience-illustration{background-image:url('../img/sprite.png');background-position: -63px -3193px;}
.retirement-illustration{background-image:url('../img/sprite.png');background-position: -66px -3644px;}
.family-illustration{background-image:url('../img/sprite.png');background-position: -1px -2393px;}
.criminal-illustration{background-image:url('../img/sprite.png');background-position: -66px -2828px;}
.criminal-illustration,.family-illustration, .retirement-illustration, .audience-illustration{height:249px;border: 8px solid #fff;box-shadow: 1px 1px 3px #aaa;width: 232px;}

a:hover{text-decoration:none;}

/*AREAS SECTION*/
.area-arrow{font-size:13px;}
.panel-body{color:#666}

/*PROFILE*/
.attorney-picture{background-image:url('../img/sprite.png');background-position: -1px -1899px;height:300px;width: 372px;
margin-bottom: 24px;border: 13px solid #fff;
box-shadow: 1px 3px 7px #aaa;}
.attorney-name{font-size:20px;}
.attorney-profile{color:#666;margin:75px 0 10px;}

/*FOOTER*/
.logo-trasparent{opacity:0.75;background-image:url('../img/sprite.png');
background-position: 0px 0px;height: 95px;width:305px;}
.contact{margin:20px 0;}
.copyright{color:#adbcd1;}
.especialies{margin-top: 10px;}
.footer{background-color:#fff;box-shadow: 1px -5px 5px #ddd;position:relative;width:100%;
	left:0px;bottom:0px;color:#1a2f4d;font-size:14px;padding: 30px 0;}

/*MEDIA QUERY*/

@media (max-width: 1279px) { .areas{padding-left:0;background-image:none;} }

/* Landscape phone to portrait tablet */
@media (max-width: 979px) { 
	.areas{padding-left:0;background-image:none;margin-bottom:10px;}
	.container{width:100%;}
	.address, .phones{margin-bottom:20px;}
	.tel{float:left;}
	.logo{background-position: 0px -1192px;}
	.logo-trasparent{background-position: 0px -1192px;}
	li a{font-size:18px;}
	li{margin-bottom:10px;}
	.header .row:first-child{margin-top:10px;}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) { ul li{display:block;}
	.menu{float:left!important;text-align:left;}
	.tel{float:left!important;text-align:left;}
 }

/* Landscape phones and down */
@media (max-width: 277px) {
	.logo{background-position: 0px -1264px;}
	.logo-trasparent{background-position: 0px -1264px;}
 }
