body{margin-top:0;margin-left:0;margin-right:0;z-index:-1}
body {
    background: linear-gradient(to bottom, #fff 0%,#ddd 100%);

}

.header{background-color:#fff;box-shadow: 1px 10px 10px #ddd;position:absolute;width:100%;right:0;}
.header .row:first-child{margin-top:65px;}

.footer{background-color:#fff;box-shadow: 1px -10px 10px #ddd;position:fixed;width:100%;
   left:0px;
   bottom:0px;color:#1a2f4d;font-size:14px;padding: 30px 0; 
}


.container{background-color:#fff;height:100%;width:70%;}


ul li{text-decoration:none;display:inline-block;}

li a{color:#1a2f4d;font-size:20px;margin-left:20px;font-weight:bold;font-family:serif;}
li a:hover{text-decoration:none;border-bottom:3px solid #1a2f4d;}
.selected a{color:#adbcd1;}

.tel .call-today{color:#adbcd1;font-size:24px;}
.tel .tel-number{color:#1a2f4d;font-size:28px;display:inline-block;}

.menu{margin: 20px 0 5px;}

.practice-area{color:#1a2f4d;font-size:22px;}
.area-examples{color:#adbcd1;font-size:18px;}

.especialies{margin-top: 100px;}

.areas{background-image:url('../img/sprite.png');background-position: 195px -100px;height:300px;padding-left:40px!important;}
.area-click:hover{background-color:#eee;box-shadow:2px -2px 5px #eee;height:300px;width:150px;outline:3px solid #aaa;}
.area-click{cursor:pointer;}
.areas:last-child{background-image:none;}

.logo{background-image:url('../img/sprite.png');background-position: 0px 0px;height: 95px;}
.logo-trasparent{opacity:0.75;background-image:url('../img/sprite.png');background-position: 6px 0px;height: 95px;}


.copyright{color:#adbcd1;}




 
/* Landscape phone to portrait tablet */
@media (max-width: 979px) { 
	.areas{padding-left:0;}
	.container{width:100%;}
	.address{margin-bottom:20px;}

 }
 
/* Landscape phones and down */
@media (max-width: 480px) { ul li{display:block;} }

