<!DOCTYPE html>
<html>
<head>
<title>Teixeira Advogados - Contato</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../libs/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../libs/js/bootstrap.min.js"></script>



</head>
<body>
<div class="loading">
    <div class="complete-loader"><img src="../img/ajax-loader.gif" /> <div class="logo-loader"></div></div>
</div>
<!-- HEADER -->
<div class="row">
	<div class="header col-lg-12">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<a href="http://www.teixeiraadvogados.com/"><div class="logo"></div></a>
				</div>
				<div class="col-lg-7 col-md-12 tel">
					<span class="call-today">Ligue hoje:</span> <span class="tel-number">(21) 2264-8332</span><br>
				</div><br><br>
				<div class="col-lg-7 col-md-12 menu">
					<ul>
						<li class="selected"><a href="#" class="home">Home</a></li>
						<li><a href="#" class="office">Escritório</a></li>
						<li><a href="#" class="practice-areas">Áreas de atuação</a></li>
						<li><a href="#" class="news">Notícias</a></li>
						<li><a href="contato/contato.html" class="contact">Contato</a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="container">
	<div class="row"> 
		<div class="banner hide col-lg-12"></div>
		<div class="especialies hide">
			<div class="col-lg-3 col-sm-4 pull-left areas">
				<div class="area-click">
					<span class="practice-area">Cívil</span><br>
					<span class="area-examples">Consumidor<br>Indenizações</span><br>
					<div class="family-illustration"></div>
					<div class="practice-area-preview">
						Em nossa equipe, cada advogado responsável por uma área do escritório Carvalho, Fairbairn Guidi possui especialização.
					</div>
					<button type="submit" class="btn btn-primary btn-small">Mais Informações</button>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 pull-left areas">
				<div class="area-click">
					<span class="practice-area">Cívil</span><br>
					<span class="area-examples">Consumidor<br>Indenizações</span><br>
					<div class="criminal-illustration"></div>
					<div class="practice-area-preview">
						Em nossa equipe, cada advogado responsável por uma área do escritório Carvalho, Fairbairn Guidi possui especialização.
					</div>
					<button type="submit" class="btn btn-primary btn-small">Mais Informações</button>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 pull-left areas">
				<div class="area-click">
					<span class="practice-area">Cívil</span><br>
					<span class="area-examples">Consumidor<br>Indenizações</span><br>
					<div class="retirement-illustration"></div>
					<div class="practice-area-preview">
						Em nossa equipe, cada advogado responsável por uma área do escritório Carvalho, Fairbairn Guidi possui especialização.
					</div>
					<button type="submit" class="btn btn-primary btn-small">Mais Informações</button>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 pull-left areas">
				<div class="area-click">
					<span class="practice-area">Cívil</span><br>
					<span class="area-examples">Consumidor<br>Indenizações</span><br>
					<div class="audience-illustration"></div>
					<div class="practice-area-preview">
						Em nossa equipe, cada advogado responsável por uma área do escritório Carvalho, Fairbairn Guidi possui especialização.
					</div>
					<button type="submit" class="btn btn-primary btn-small">Mais Informações</button>
				</div>
			</div>
		</div>
		<div class="areas-template hide">
			<br>
			<div class="panel-group col-lg-12" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						<span class="area-arrow">&#9658;</span> Família </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<span class="area-arrow">&#9658;</span> Criminal </a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<span class="area-arrow">&#9658;</span> Desaposentação </a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
						</div>
					</div>
				</div>
			</div>
			<br>
		</div>	



		<div class="profile-template hide">
			<br>
			<div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 pull-left">
				<div class="attorney-picture"></div>
			</div>
			<div class="col-lg-6 col-xs-12 col-sm-6 col-md-6 pull-left attorney-profile">
				<span class="attorney-name">Rodrigo Teixeira</span><br>
				<strong>OAB/BA 21.299</strong><br>
				E-mail: fabiana@gamilfoppel.adv.br<br><br>
				Pós-Graduada em Ciências Criminais pelo Juspodivm – Faculdade Baiana de Direito. Advogada Criminalista. Bacharela em Direito pela Universidade Católica do Salvador.
			</div>
			<br>
		</div>



		<div class="contact-template">
			<form role="form" name="contactform" method="post" action="send_form_email.php">
				<div class="col-lg-5 contact">
				  	<div class="form-group col-lg-12">
				    	<label for="client-name">Nome</label>
				    	<input type="text" class="form-control" id="client-name" name="first_name">
				  	</div>
				  	<div class="form-group col-lg-12">
				    	<label for="client-email">E-mail</label>
				    	<input type="email" class="form-control" id="client-email" name="email">
				  	</div>
				  	<div class="form-group col-lg-6">
				    	<label for="client-phone">Telefone</label>
				    	<input type="tel" class="form-control" id="client-phone" name="telephone">
				  	</div>
			  	</div>
			  	<div class="col-lg-6 contact">
			  		<div class="form-group col-lg-12">
				    	<label for="message">Explique seu problema</label>
				    	<textarea class="form-control" rows="8" name="comments"></textarea>
				  	</div>
				  	<div class="col-lg-6">
				  		<button type="submit" class="btn btn-primary" value="Submit">Enviar</button>
				  	</div>	
			  	</div>
			</form>
		</div>		
	</div>
</div>
<div class="row">
	<div class="footer col-lg-12">
		<div class="container">
			<div class="col-lg-6 pull-left address">
				<strong>Endereço:</strong><br>
				<span>Av. Rio Branco,  nº 181,  Ed. Século Frontin,  2° º Andar -  Sala  209,  Centro - Rio de Janeiro -  RJ - CEP: 20.040-007</span>
			</div>
			<div class="col-lg-2 pull-left phones">
				<strong>Telefones:</strong><br>
				<span>(21) 2264-4524<br>(21) 8675-4524</span>
			</div>
			
			<div class="col-lg-4 pull-left">
				<a href="http://www.teixeiraadvogados.com/"><div class="logo-trasparent"></div></a>
			</div>
			<div class="col-lg-12 pull-left copyright">
				© 2013 All rights reserved - Todos direitos reservados
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../js/javascript.js"></script>
</body>
</html>
