<div class="especialies row">
	<div class="col-lg-3 col-sm-4 pull-left areas">
		<div class="area-click" ng-click="setRoute('areas')">
			<h4 class="practice-area">CONSUMIDOR</h4><br>
			<div class="family-illustration"></div>
			<div class="practice-area-preview">
				Ações indenizatórias por danos causados em qualquer relação de consumo, tanto no Juizado Especial, quanto na Justiça Comum.
			</div>
			<button class="btn btn-primary btn-small" type="button">Mais Informações</button>
		</div>
	</div>
	<div class="col-lg-3 col-sm-4 pull-left areas">
		<div class="area-click" ng-click="setRoute('areas')">
			<h4 class="practice-area">FAMÍLIA</h4><br>
			<div class="criminal-illustration"></div>
			<div class="practice-area-preview">
				Atuação nas diversas ações concernentes ao campo de direito de família, entre elas; divórcio, pensão, guarda de menores, divisão de bens, união estável e casamento.
			</div>
			<button class="btn btn-primary btn-small" type="button">Mais Informações</button>
		</div>
	</div>
	<div class="col-lg-3 col-sm-4 pull-left areas">
		<div class="area-click" ng-click="setRoute('areas')">
			<h4 class="practice-area">DESAPOSENTAÇÃO</h4><br>
			<div class="audience-illustration"></div>
			<div class="practice-area-preview">
				Condução de diversas ações da área previdenciária.
			</div>
			<button class="btn btn-primary btn-small" type="button">Mais Informações</button>
		</div>
	</div>
	<div class="col-lg-3 col-sm-4 pull-left areas">
		<div class="area-click" ng-click="setRoute('areas')">
			<h4 class="practice-area">SUCESSÕES</h4><br>
			<div class="retirement-illustration"></div>
			<div class="practice-area-preview">
				Todas as ações concernentes ao direito de herança.
			</div>
			<button class="btn btn-primary btn-small" type="button">Mais Informações</button>
		</div>
	</div>
</div>


