<!DOCTYPE html>

<html>
<head>
<title>Teixeira Advogados</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="../js/javascript.js"></script>
<link rel="stylesheet" href="../css/style.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="row">
	<div class="header col-lg-12">
		<div class="container">
			<div class="row">
				<div class="logo-box pull-left">
					<div class="logo"></div>
				</div>
				
				<div class="col-lg pull-right tel">
					<span class="call-today">Ligue hoje:</span> <span class="tel-number">(21) 2264-8332</span><br>
				</div><br><br>
				<div class="col-lg menu pull-right">
					<ul class="unstyled">
						<li><a href="">Home</a></li>
						<li><a href="">Escritório</a></li>
						<li><a href="">Áreas de atuação</a></li>
						<li><a href="">Notícias</a></li>
						<li><a href="">Contato</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="content">
				<div class="especialies">
					<div class="col-lg-3 pull-left areas">
						<span class="practice-area">Cívil</span><br>
						<span class="area-examples">Consumidor<br>Indenizações</span>
					</div>
					<div class="col-lg-3 pull-left areas">
						<span class="practice-area">Cívil</span><br>
						<span class="area-examples">Consumidor<br>Indenizações</span>
					</div>
					<div class="col-lg-3 pull-left areas">
						<span class="practice-area">Cívil</span><br>
						<span class="area-examples">Consumidor<br>Indenizações</span>
					</div>
					<div class="col-lg-3 pull-left">
						<span class="practice-area">Cívil</span><br>
						<span class="area-examples">Consumidor<br>Indenizações</span>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="footer col-lg-12">


		<div class="container">
			<div class="row">
				<div class="col-lg-6 pull-left address">
					<span>Endereço</span><br><br>
					<span>Av. Rio Branco,  nº 181,  Ed. Século Frontin,  2° º Andar -  Sala  209,  Centro - Rio de Janeiro -  RJ - CEP: 20.040-007</span>
				</div>
				<div class="col-lg-2 pull-left phones">
					<span>Telefones</span><br><br>
					<span>(21) 2264-4524<br>(21) 8675-4524</span>
				</div>
				<div class="logo-box pull-right">
					<div class="logo-trasparent"></div>
				</div>
			</div>

		</div>


	</div>
</div>


</body>
</html>
